<footer class="footer">

  <div class="container">
    <div class="row">
      <div class="one-half column">
        <div class="row">
          <div class="one-half column">
            <h5>About</h5>
            <p>Yet another nerd blog by a nerd.</p>
          </div>

          <div class="one-half column">
            <ul>
              <li>github</li>
              <li>twitter</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="one-half column">
        <p>Some additional info here.</p>
      </div>
    </div>

  </div>

</footer>
</html>
