<header class="header">
  <div class="container">
  <div class="row">
    <div class="one-half column site-title">
      <a class="header-site-link" href="{{ site.baseurl }}">
        <span class="header-site-lambda">&lambda;</span>
        <span class="header-site-title">aj</span>
        <span class="header-site-extra">&#10140;</span>
      </a>
      <p class="header-site-tagline">
        {% case page.display_type %}
          {% when 'index' %}
            ls -l /var/<span>{{ page.slug }}</span>/
          {% when 'page' %}
            ls /home/{{ site.title }}/<span>{{ page.title }}</span>
          {% when 'about' %}
            whoami
          {% else %}
            less <span>{{ page.date|date: "%Y-%m-%d" }}</span>.log
        {% endcase %}
      </p>
    </div>
    <div class="one-half column site-nav">
      {% include nav.html %}
    </div>
  </div>
  </div>
</header>
