<nav class="nav">
    <ul>
          <!-- log -->
          <li>
            <a class="nav-item {% if page.slug == 'log' %}nav-item-active{% endif %}" href="{{ site.url }}/posts/">
              logs
            </a>
          </li>

      {% for site_page in site.pages %}
        {% unless site_page.exclude_from_nav %}
          <li>
            <a href="{{ site_page.url }}"
               class="nav-item{% if page.slug == site_page.slug %} nav-item-active{% endif %}">
              {{ site_page.slug }}
            </a>
          </li>
        {% endunless %}
      {% endfor %}

      <!-- Search -->
      <li>
        <a class="nav-item {% if page.display_type == 'search' %}nav-item-active{% endif %}" href="{{ site.url }}/search/">
          <i class="fa fa-search" aria-hidden="true"></i>
        </a>
      </li>

    </ul>
</nav>
