<nav class="nav">
    <ul>
      {% for site_page in site.pages %}
        {% unless site_page.exclude_from_nav %}
          <li>
            <a href="{{ site_page.url }}"
               class="nav-item{% if page.slug == site_page.slug %} nav-item-active{% endif %}">
              {{ site_page.slug }}
            </a>
          </li>
        {% endunless %}
      {% endfor %}
          <li>
            <a class="nav-item" href="{{ site.url }}/feed.xml">
              <i class="fa fa-rss" aria-hidden="true"></i>
            </a>
          </li>
    </ul>
</nav>
