.blog-index {
  margin-top: 25px;
  list-style-type: none;
  padding: 0;
}

.blog-row {
  padding: 10px 0;
  border-bottom: solid #eee 1px;
}

.blog-header {
  border-bottom: solid #eee 1px;
  clear: both;
}

.blog-info {
  text-align: right;
    color: #9EA5A8;
    font-size: 10pt;
    font-family: 'Anonymous Pro', sans-serif;
}

.blog-title-wrapper {
  text-align: left;
}

.blog-list-title {
    text-decoration: none;
    font-weight: bold;
    color: #1e2032;
    text-transform: uppercase;
}

.blog-title {
    text-decoration: none;
    font-weight: bold;
    color: #1e2032;
    text-transform: uppercase;
    font-size: 20pt;
    margin-top: 10px;
}

.blog-content {
    margin: 0;
    padding: 0;
    border-bottom: solid 1px transparent;
    color: #424242;
}

.blog-content p a {
    color: #557aaa;
    text-decoration: none;
    font-weight: bold;
}

.blog-content p a:hover {
    color: #e6b173;
}

.blog-content code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

.blog-content pre code {
  padding: 0;
  background-color: inherit;
  color: inherit;
}
.blog-tags {
  margin: 0;
}

.blog-tag-list {
    list-style: none;
    padding-left: 0;
    color: #bbb;
}

.blog-tag-list-item {
    display: inline-block;
}

.blog-tag-list-item-link {
    display: block;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 8pt;
    background: #fdfdfd;
    padding: 5px;
    color: #bbb;
    margin-bottom: 5px;
    border-radius: 5px;
    border: solid 1px #fafafa;
    text-decoration: none;
}

.blog-tag-list-item-link:hover {
    background: #fefefe;
    color: #aaa;
}

.blog-post-metadata {
    margin: 0;
}

ul#markdown-toc {
  padding: 20px 40px;
}

ul#markdown-toc a {
  text-decoration: none;
}
