.header {
  margin-top: 0;
  padding: 0;
  border-bottom: solid 5px #eee;
  background: #242728;
}

.header-site-link {
  text-decoration: none;
}

.header-site-title, .header-site-extra {
  padding: 0 5px;
}

.header-site-lambda, .header-site-extra {
  font-weight: bold;
}

.header-site-lambda {
  display: inline;
  color: #c8d8df;
  font-size: 20pt;
}

.header-site-title {
  color: #ffb473;
  display: inline;
  font-size: 16pt;
  font-family: 'Anonymous Pro', sans-serif;
}

.header-site-tagline {
  display: inline;
  color: #656565;
  font-size: 14pt;
  font-family: 'Anonymous Pro', sans-serif;
}

.header-site-tagline span {
  color: #aaa;
}
